

/*  渐隐 - 无动效  */
.to_fade
{
	-webkit-animation: t_up 1.5s ease;
	animation: t_up 1.5s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes t_up
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_up
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}


/*  渐大 - 1.5倍  */
.to_big_fade
{
	-webkit-animation: t_big_fade 1s linear;
	animation: t_big_fade 1s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes t_big_fade
	{
		0%{ -webkit-transform: scale(1);}
		100%{ -webkit-transform: scale(1.5);}
	}
	@keyframes t_big_fade
	{
		0%{ transform: scale(1);}
		100%{ transform: scale(1.5);}
	}

/*  瞬大 - 1.5倍  */
.to_big
{
	-webkit-animation: t_big 0.5s ease;
	animation: t_big 0.5s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
	@-webkit-keyframes t_big
	{
		0%{ -webkit-transform: scale(1); -webkit-opacity: 1;}
		100%{ -webkit-transform: scale(1.5); -webkit-opacity: 0.2;}
	}
	@keyframes t_big
	{
		0%{ transform: scale(1); opacity: 1;}
		100%{ transform: scale(1.5); opacity: 0.2;}
	}

/*  瞬大 - 3倍  */
.to_big1
{
	-webkit-animation: t_big1 0.7s ease;
	animation: t_big1 0.7s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes t_big1
	{
		0%{ -webkit-transform: scale(1); -webkit-opacity: 1;}
		100%{ -webkit-transform: scale(3); -webkit-opacity: 0.2;}
	}
	@keyframes t_big1
	{
		0%{ transform: scale(1); opacity: 1;}
		100%{ transform: scale(3); opacity: 0.2;}
	}

/*  瞬大 - 8倍  */
.to_big2
{
	-webkit-animation: t_big2 0.8s ease;
	animation: t_big2 0.8s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes t_big2
	{
		0%{ -webkit-transform: scale(1); -webkit-opacity: 1;}
		100%{ -webkit-transform: scale(8); -webkit-opacity: 0.2;}
	}
	@keyframes t_big2
	{
		0%{ transform: scale(1); opacity: 1;}
		100%{ transform: scale(8); opacity: 0.2;}
	}

/*  瞬小  */
.to_small
{
	-webkit-animation: t_small 0.5s ease;
	animation: t_small 0.5s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
	@-webkit-keyframes t_small
	{
		0%{ -webkit-transform: scale(1); -webkit-opacity: 1;}
		100%{ -webkit-transform: scale(0.8); -webkit-opacity: 0.2;}
	}
	@keyframes t_small
	{
		0%{ transform: scale(1); opacity: 1;}
		100%{ transform: scale(0.8); opacity: 0.2;}
	}

/*  大 - 复原  */
.to_big_original
{
	-webkit-transform: scale(1.8);
	transform: scale(1.8);
	-webkit-animation: t_big_original 0s ease;
	animation: t_big_original 0s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
	@-webkit-keyframes t_big_original
	{
		0%{ -webkit-transform: scale(1.8); -webkit-opacity: 0.2;}
		100%{ -webkit-transform: scale(1); -webkit-opacity: 1;}
	}
	@keyframes t_big_original
	{
		0%{ transform: scale(1.8); opacity: 0.2;}
		100%{ transform: scale(1); opacity: 1;}
	}

/*  Y倾斜 - 复原  */
.to_rotatey_original
{
	-webkit-animation: t_rotatey_original 0.8s ease;
	animation: t_rotatey_original 0.8s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
	@-webkit-keyframes t_rotatey_original
	{
		0%{ -webkit-transform: rotateY(60deg);}
		100%{ -webkit-transform: rotateY(0deg);}
	}
	@keyframes t_rotatey_original
	{
		0%{ transform: rotateY(60deg);}
		100%{ transform: rotateY(0deg);}
	}

/*  Y倾斜 - 3倍大 - 复原 - 淡色  */
.to_rotatey_original1
{
	-webkit-animation: t_rotatey_original1 0.8s ease;
	animation: t_rotatey_original1 0.8s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
	@-webkit-keyframes t_rotatey_original1
	{
		0%{ -webkit-transform: rotateY(60deg) scale(2); -webkit-opacity: 0.1;}
		100%{ -webkit-transform: rotateY(0deg) scale(2); -webkit-opacity: 0.1;}
	}
	@keyframes t_rotatey_original1
	{
		0%{ transform: rotateY(60deg) scale(2); opacity: 0.1;}
		100%{ transform: rotateY(0deg) scale(2); opacity: 0.1;}
	}



/*  左移  */
.to_left
{
	-webkit-animation: t_left 1.5s ease;
	animation: t_left 1.5s ease;
}
	@-webkit-keyframes t_left
	{
		0%{ -webkit-transform: translateX(0%);}
		100%{ -webkit-transform: translateX(-100%);}
	}
	@keyframes t_left
	{
		0%{ transform: translateX(0%);}
		100%{ transform: translateX(-100%);}
	}
/*  左移 - 复位  */
.to_left1
{
	-webkit-animation: t_left1 0.3s ease;
	animation: t_left1 0.3s ease;
}
	@-webkit-keyframes t_left1
	{
		0%{ -webkit-transform: translateX(100%); opacity: 0.8;}
		100%{ -webkit-transform: translateX(0%); opacity: 0.5;}
	}
	@keyframes t_left1
	{
		0%{ transform: translateX(100%); opacity: 0.8;}
		100%{ transform: translateX(0%); opacity: 0.5;}
	}
/*  左移 - 10倍大 - 淡色  */
.to_left2
{
	opacity: 0.2;
	-webkit-animation: t_left2 1s linear;
	animation: t_left2 1s linear;
}
	@-webkit-keyframes t_left2
	{
		0%{ -webkit-transform: translateX(50%) scale(10);}
		100%{ -webkit-transform: translateX(-50%) scale(10);}
	}
	@keyframes t_left2
	{
		0%{ transform: translateX(50%) scale(10);}
		100%{ transform: translateX(-50%) scale(10);}
	}





/*  右移  */
.to_right
{
	-webkit-animation: t_right 1.5s ease;
	animation: t_right 1.5s ease;
}
	@-webkit-keyframes t_right
	{
		0%{ -webkit-transform: translateX(0%);}
		100%{ -webkit-transform: translateX(100%);}
	}
	@keyframes t_right
	{
		0%{ transform: translateX(0%);}
		100%{ transform: translateX(100%);}
	}
.to_right1
{
	-webkit-animation: t_right1 0.3s ease;
	animation: t_right1 0.3s ease;
}
	@-webkit-keyframes t_right1
	{
		0%{ -webkit-transform: translateX(-100%); opacity: 0.8;}
		100%{ -webkit-transform: translateX(0%); opacity: 0.5;}
	}
	@keyframes t_right1
	{
		0%{ transform: translateX(-100%); opacity: 0.8;}
		100%{ transform: translateX(0%); opacity: 0.5;}
	}

/*  上移  */
.to_top
{
	-webkit-animation: t_up 1.5s ease;
	animation: t_up 1.5s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes t_up
	{
		0%{ -webkit-transform: translateY(0%);}
		100%{ -webkit-transform: translateY(-100%);}
	}
	@keyframes t_up
	{
		0%{ transform: translateY(0%);}
		100%{ transform: translateY(-100%);}
	}
	
	
	
	
	
/*  下移  */
.to_bottom
{
	-webkit-animation: t_bot 1.5s ease;
	animation: t_bot 1.5s ease;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes t_bot
	{
		0%{ -webkit-transform: translateY(0%);}
		100%{ -webkit-transform: translateY(100%);}
	}
	@keyframes t_bot
	{
		0%{ transform: translateY(0%);}
		100%{ transform: translateY(100%);}
	}






/* 开始加载进度条 */
.start_layer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	z-index: 999999;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
	
	-webkit-animation: s_layer 1s linear;
	animation: s_layer 1s linear;
	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes s_layer
	{
		0%{ z-index: 999999;}
		100%{ z-index: 0;}
	}
	@keyframes s_layer
	{
		0%{ z-index: 999999;}
		100%{ z-index: 0;}
	}
.start_progress{
	position: relative;
	width: 0px;
	height: 1px;
	z-index: 999;
	background-color: #fff;
	-webkit-animation: s_progress 2.8s linear 1;
	animation: s_progress 2.8s linear 1;
}
	@-webkit-keyframes s_progress
	{
		0%{ width: 0px;}
		100%{ width: 100%;}
	}
	@keyframes s_progress
	{
		0%{ width: 0px;}
		100%{ width: 100%;}
	}
.start_top
{
	-webkit-animation: s_top 1s ease;
	animation: s_top 1s ease;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes s_top
	{
		0%{ -webkit-transform: translateY(0%);}
		100%{ -webkit-transform: translateY(-100%);}
	}
	@keyframes s_top
	{
		0%{ transform: translateY(0%);}
		100%{ transform: translateY(-100%);}
	}
.start_bottom
{
	-webkit-animation: s_bot 1s ease;
	animation: s_bot 1s ease;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes s_bot
	{
		0%{ -webkit-transform: translateY(0%);}
		100%{ -webkit-transform: translateY(100%);}
	}
	@keyframes s_bot
	{
		0%{ transform: translateY(0%);}
		100%{ transform: translateY(100%);}
	}


