html,body{ position: relative; height: 100%; background: #f3f3f3;}
body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif, 楷体, 新宋体; 
	font-size: 14px;
	margin: 0;
	padding: 0;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
}

/* 开启GPU加速 */
.cube{
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}
#wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.bg_layer{ position: fixed; width: 100%; height: 100%;}
.bg_layer_img{
	position: relative;
    width: 200%;
    height: 150%;
	left: -50%;
    top: -40%;
    z-index: 0;
	background:url(./img/bg.jpg) no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
#top{
    position: absolute;
    width: 100%;
    height: 3.6rem;
    top: 0;
    z-index: 9999;
}
.a4_logo{
	position: relative;
    width: 6rem;
    height: 1.6rem;
    left: 1rem;
    top: 1rem;
    margin: 0;
    display: inline-block;
	background:url(./img/a4studio_1.png) no-repeat center center;
	background-size:contain;
}
.a4_menu{
    position: absolute;
    width: 3.8rem;
    height: 100%;
    top: 0;
    right: 0;
}
	.menu_a{ display: block;}
	.menu_b{ display: none;}
	
.a4_menu_img{
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    top: 1.2rem;
    margin: 0 auto;
    padding: 0;
}
	.img_a{
		background:url(./img/menu_a.png) no-repeat center center;
		background-size:contain;
	}
	.img_b{
		background:url(./img/menu_b.png) no-repeat center center;
		background-size:contain;
	}
	
.a4_contact{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.95);
    display: none;
    z-index: 999;
    overflow: hidden;
    -webkit-animation: t_contact 0.5s ease;
    animation: t_contact 0.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
	@-webkit-keyframes t_contact
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_contact
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
.a4_info{
    width: 100%;
	margin-top: 3.6rem;
	border-top: 1px solid rgba(255,255,255,0.4);
}
	.a4_info ul{
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	.a4_info ul li{
		width: 100%;
		line-height: 3.6rem;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		text-align: center;
		font-size: 0.9rem;
	}
	.a4_info ul li a{
		width: 100%;
		height: 100%;
		margin: 0;
		font-size: 0.9rem;
		color: rgba(255,255,255,0.7);
		text-decoration: none;
		display: block;
	}

.page_first{
	position: relative;
    width: 55%;
    max-width: 20rem;
    margin: 0 4rem 4rem 0;
}
.a4_text{
    position: relative;
    height: 5rem;
    width: 100%;
    background: url(img/a4_text.png) no-repeat center left;
    background-size: contain;
}
.more_btn{
    width: 5.5rem;
    height: 2rem;
	float: left;
    line-height: 2.1rem;
    font-size: 1rem;
    color: #1fd557;
    border: 1px solid #1fd557;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
	.more_btn:hover{
		background: #1fd557;
		color: #fff;
	}

.a4_copyright{
	position: absolute;
	min-width: 120px;
	bottom: 0.8rem;
	right: 1.25rem;
	margin: 0;
	font-size: 0.9rem;
	text-align: right;
	color: rgba(255,255,255,0.9);
}

.to_fade, .to_fade_l{
	position: absolute;
	display: none;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.to_fade{
	-webkit-animation: t_fad 1.5s ease;
	animation: t_fad 1.5s ease;
}
	@-webkit-keyframes t_fad
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_fad
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
.to_fade_l
{
	-webkit-animation: t_fad_l 3s ease;
	animation: t_fad_l 3s ease;
}
	@-webkit-keyframes t_fad_l
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_fad_l
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}

.copyright{
	position: absolute;
	width: 100%;
	min-height: 4rem;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	border-top: 1px solid #1fd557;
}
.a4_about{
	position: relative;
	width: 100%;
	max-width: 500px;
	min-height: 4rem;
	margin: 0 auto;
	padding: 1rem 0 1.2rem 0;
}
	.a4_about img{
		position: relative;
		width: 6.4rem;
		margin: 0 auto;
	}
	.a4_about p{
		position: relative;
		width: 100%;
		padding: 0.4rem 0 1rem 0;
		font-size: 0.9rem;
		color: #fff;
	}

.qr_code{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    z-index: 99;
}
	.qr_code_img{
		position: absolute;
		width: 100%;
		bottom: 3.2rem;
		background: url(./img/qr_code.png) no-repeat center center;
		background-size: contain;
	}
	.qr_img{
		position: relative;
		width: 40%;
		height: auto;
		left: 30%;
		bottom: 0;
	}

.qr_btn{
	position: relative;
    width: 3rem;
    height: 1.5rem;
    margin: 0 auto;
    padding: 0;
}
.qr_btn1{
	position: relative;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #1fd557;
    border-radius: 0.5rem;
}

.bgwrap{
    position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.swiper-slide-active .bgwrap .s1,
.swiper-slide-active .bgwrap .s2,
.swiper-slide-active .bgwrap .s3,
.swiper-slide-active .bgwrap .s4{
	-webkit-transform: scale(1);
	transform: scale(1);
}
.s1, .s2, .s3, .s4{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 9s linear;
	transition: all 9s linear;
}
.s1{ background:url(./img/s1.jpg) no-repeat center center; background-size:cover;}
.s2{ background:url(./img/s2.jpg) no-repeat center center; background-size:cover;}
.s3{ background:url(./img/s3.jpg) no-repeat center center; background-size:cover;}
.s4{ background:url(./img/s4.jpg) no-repeat center center; background-size:cover;}

.swiper-container{
	width: 100%;
	height: 100%;
}
.swiper-slide{
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
}
.swiper-slide-active img{ display: block;}
.swiper-slide-active p{ display: block; margin: 0;}
.swiper-slide-active div{ display: block; display: inline-block;}

/*  提示用户竖屏浏览页面  */
@media all and (orientation:landscape) and (max-height:751px){ 
html,body{position:relative;overflow:hidden;width:100%;height:100%;padding:0;margin:0;}
html::before{position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(0,0,0,0.9);z-index:99999;}
html::after{content:"推荐使用竖屏浏览哦~";text-align:center;font-size:16px;color:#fff;position:absolute;top:50%;left:0;height:30px;width:100%;z-index:99999;}
body::before{content:"";position:absolute;z-index:99999;height:200px;width:100px;left:50%;top:50%;margin:-140px 0 0 -50px;color:#fff;}
}