html,body{ position: relative; height: 100%;}
body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif, 楷体, 新宋体; 
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: #f3f3f3;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
}
ul li{ list-style: none;}
/* 开启GPU加速 */
.cube{
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}
#wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.bg_layer{ position: fixed; width: 100%; height: 100%;}
.bg_layer_img{
	position: relative;
    width: 200%;
    height: 150%;
	left: -50%;
    top: -40%;
    z-index: 0;
	background:url(./img/bg.jpg) no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
#topbar{
    position: absolute;
    width: 100%;
    height: 3.6rem;
    top: 0;
    z-index: 9999;
}
.a4_logo{
	position: relative;
    width: 6rem;
    height: 1.6rem;
    left: 1rem;
    top: 1rem;
    margin: 0;
    display: inline-block;
	background:url(./img/a4studio_1.png) no-repeat center center;
	background-size:contain;
}
.menu_btn{
    position: absolute;
    width: 3.8rem;
    height: 100%;
    top: 0;
    right: 0;
}
	.menu_a{ display: block;}
	.menu_b{ display: none;}
	
.menu_img{
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    top: 1.2rem;
    margin: 0 auto;
    padding: 0;
}
	.img_a{
		background:url(./img/menu_a.png) no-repeat center center;
		background-size:contain;
	}
	.img_b{
		background:url(./img/menu_b.png) no-repeat center center;
		background-size:contain;
	}
	
#menu{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.95);
    display: none;
    z-index: 999;
    overflow: hidden;
    -webkit-animation: t_contact 0.5s ease;
    animation: t_contact 0.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
	@-webkit-keyframes t_contact
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_contact
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}

.menu-list{
    width: 100%;
	margin-top: 3.6rem;
	border-top: 1px solid rgba(255,255,255,0.4);
}
	.menu-list ul{
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	.menu-list ul li{
		width: 100%;
		line-height: 3.6rem;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		text-align: center;
		font-size: 0.9rem;
	}
	.menu-list ul li a{
		width: 100%;
		height: 100%;
		margin: 0;
		font-size: 0.9rem;
		color: rgba(255,255,255,0.7);
		text-decoration: none;
		display: block;
	}

.page_first{
	position: relative;
    width: 55%;
    max-width: 20rem;
    margin: 0 4rem 4rem 0;
}
.a4_text{
    position: relative;
    height: 5rem;
    width: 100%;
    background: url(img/a4_text.png) no-repeat center left;
    background-size: contain;
}
.more_btn{
    width: 5.5rem;
    height: 2rem;
	float: left;
    line-height: 2.1rem;
    font-size: 1rem;
	text-align: center;
    color: #1fd557;
    border: 1px solid #1fd557;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
	.more_btn:hover{
		background: #1fd557;
		color: #fff;
	}

.a4_copyright{
	position: absolute;
	min-width: 120px;
	bottom: 0.8rem;
	right: 1.25rem;
	margin: 0;
	font-size: 0.9rem;
	text-align: right;
	color: rgba(255,255,255,0.9);
}

#qr_code{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    z-index: 99;
}
	.qr_code_img{
		position: absolute;
		width: 100%;
		bottom: 3.2rem;
		background: url(./img/qr_code.png) no-repeat center center;
		background-size: contain;
	}
	.qr_img{
		position: relative;
		width: 40%;
		height: auto;
		left: 30%;
		bottom: 0;
	}

.qr_btn{
	position: relative;
    width: 3rem;
    height: 1.5rem;
    margin: 0 auto;
    padding: 0;
}
.qr_btn1{
	position: relative;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #1fd557;
    border-radius: 0.5rem;
}


.swiper-slide-active .to_right1,
.swiper-slide-active .to_right2,
.swiper-slide-active .to_right3{
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.swiper-slide-active .to_right1{
	-webkit-animation: t_right1 0.8s ease;
	animation: t_right1 0.8s ease;
}
	@-webkit-keyframes t_right1{
		0%{ -webkit-transform: translateX(-200%);}
		100%{ -webkit-transform: translateX(0);}
	}
	@keyframes t_right1{
		0%{ transform: translateX(-200%);}
		100%{ transform: translateX(0);}
	}
.swiper-slide-active .to_right2{
	-webkit-animation: t_right2 1.2s ease;
	animation: t_right2 1.2s ease;
}
	@-webkit-keyframes t_right2{
		0%{ -webkit-transform: translateX(-200%);}
		100%{ -webkit-transform: translateX(0);}
	}
	@keyframes t_right2{
		0%{ transform: translateX(-200%);}
		100%{ transform: translateX(0);}
	}
.swiper-slide-active .to_right3{
	-webkit-animation: t_right3 1.6s ease;
	animation: t_right3 1.6s ease;
}
	@-webkit-keyframes t_right3{
		0%{ -webkit-transform: translateX(-200%);}
		100%{ -webkit-transform: translateX(0);}
	}
	@keyframes t_right3{
		0%{ transform: translateX(-200%);}
		100%{ transform: translateX(0);}
	}

.swiper-slide-active .to_left1,
.swiper-slide-active .to_left2,
.swiper-slide-active .to_left3{
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.swiper-slide-active .to_left1{
	-webkit-animation: t_left1 0.8s ease;
	animation: t_left1 0.8s ease;
}
	@-webkit-keyframes t_left1{
		0%{ -webkit-transform: translateX(40%);}
		100%{ -webkit-transform: translateX(0);}
	}
	@keyframes t_left1{
		0%{ transform: translateX(40%);}
		100%{ transform: translateX(0);}
	}
.swiper-slide-active .to_left2{
	-webkit-animation: t_left2 1.2s ease;
	animation: t_left2 1.2s ease;
}
	@-webkit-keyframes t_left2{
		0%{ -webkit-transform: translateX(40%);}
		100%{ -webkit-transform: translateX(0);}
	}
	@keyframes t_left2{
		0%{ transform: translateX(40%);}
		100%{ transform: translateX(0);}
	}
.swiper-slide-active .to_left3{
	-webkit-animation: t_left3 1.6s ease;
	animation: t_left3 1.6s ease;
}
	@-webkit-keyframes t_left3{
		0%{ -webkit-transform: translateX(40%);}
		100%{ -webkit-transform: translateX(0);}
	}
	@keyframes t_left3{
		0%{ transform: translateX(40%);}
		100%{ transform: translateX(0);}
	}


.swiper-container{ width: 100%; height: 100%;}
.swiper-slide{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
}

.bgwrap{
    position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.pos-c-c{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.bg1, .bg2 , .bg3{ background: #000;}
.bg1{ background:url(./img/bg1.jpg) no-repeat center center; background-size:cover;}
.bg2{ background:url(./img/bg2.jpg) no-repeat center center; background-size:cover;}
.bg3{ background:url(./img/bg3.jpg) no-repeat center center; background-size:cover;}
.bg4{ background:url(./img/bg4.jpg) no-repeat center center; background-size:cover;}

.page-title{
	position: absolute;
	width: 7rem;
    height: 4rem;
    right: 1.25rem;
    bottom: 1.2rem;
}
.page-t1{ background: url(./img/page-title-service.png) no-repeat bottom right; background-size: contain;}
.page-t2{ background: url(./img/page-title-service.png) no-repeat bottom right; background-size: contain;}
.page-t3{ background: url(./img/page-title-contact.png) no-repeat bottom right; background-size: contain;}

.service{
	position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 2rem;
}
	.service ul{
		list-style: none;
		width: 18rem;
		height: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.service ul li:first-child{ margin-top: 0;}
	.service ul li{
		width: 100%;
		position: relative;
		height: auto;
		margin-top: 1rem;
		float: left;
	}

.l-icon, .r-box, .r-title, .r-line, .r-content{
	position: relative;
    float: left;
}
.l-icon{ width: 1.8rem; height: 1.8rem; margin-top: 0.2rem;}
	.l-icon1{ background: url(./img/mobile-phone.png) no-repeat top center; background-size: contain;}
	.l-icon2{ background: url(./img/electronics.png) no-repeat top center;background-size: contain;}
	.l-icon3{ background: url(./img/security.png) no-repeat top center;background-size: contain;}

.r-box{ width: 16rem; height: auto; left: 0.7rem;}

.r-title{
	width: 100%;
	text-align: left;
	color: rgba(255,255,255,0.9);
	font-size: 1.15rem;
	line-height: 2rem;
}
.r-line{
	width: 1.2rem;
	height: 1px;
	background: rgba(31,213,87,0.8);
}
.r-content{
	width: 100%;
	height: auto;
	margin-top: 0.5rem;
	color: rgba(255,255,255,0.7);
	font-size: 0.8rem;
	line-height: 1.3rem;
	text-align: left;
}

.contact{
	position: relative;
    width: 17rem;
    height: auto;
    margin: 0;
    background: rgba(0,0,0,0.5);
    border: 5px solid rgba(170,170,170,0.3);
}
.c-wrapper{
    position: relative;
    width: 15rem;
    height: auto;
    margin: 0 auto;
    top: 0;
}
.c-top{
	position: relative;
    width: 100%;
    height: 3.8rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
	.c-title{
		width: 10rem;
		height: 2rem;
		margin: 0 auto;
		padding: 1.6rem 2rem 0 2rem;
	}
	.c-t1{
		width: 5rem;
		margin: 0;
		bottom: 0;
		line-height: 2rem;
		float: left;
		font-size: 1.2rem;
		color: rgba(255,255,255,0.9);
	}
	.c-t2{
		width: 5rem;
		margin: 0;
		bottom: 0;
		line-height: 2.5rem;
		float: left;
		font-size: 0.7rem;
		color: rgba(255,255,255,0.75);
	}
	
.c-center{
	position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
	.c-center ul{
		margin: 0;
		padding: 0;
	}
	.c-center ul li{
		height: 3rem;
		margin: 1.4rem 0 1.4rem 2rem;
		border-left: 2px solid #1fd557;
	}

.c-type{
    width: 100%;
    height: 1.6rem;
    padding-left: 0.8rem;
    line-height: 1.6rem;
	color: #fff;
	font-size: 1rem;
}
.c-value{
    width: 100%;
    height: 1.4rem;
    padding-left: 0.8rem;
	line-height: 1.4rem;
	color: rgba(255,255,255,0.8);
	font-size: 0.9rem;
}

.c-bottom{
    position: relative;
    width: 100%;
    height: 3.8rem;
    line-height: 3.8rem;
    text-align: center;
    font-size: 1rem;
    color: rgba(31,213,87,0.8);
}



.copyright{
	position: absolute;
	width: 100%;
	min-height: 4rem;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	border-top: 1px solid #1fd557;
}
.swiper-slide-active .copyright{
	-webkit-animation: t_copyright 3s ease;
	animation: t_copyright 3s ease;
}
	@-webkit-keyframes t_copyright{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_copyright{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
.a4_about{
	position: relative;
	width: 100%;
	max-width: 500px;
	min-height: 4rem;
	margin: 0 auto;
	padding: 1rem 0 1.2rem 0;
	text-align: center;
}
	.a4_about img{
		position: relative;
		width: 6.4rem;
		margin: 0 auto;
	}
	.a4_about p{
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0.4rem 0 1rem 0;
		font-size: 0.9rem;
		color: #fff;
	}

/*  提示用户竖屏浏览页面  */
@media all and (orientation:landscape) and (max-height:751px){ 
html,body{position:relative;overflow:hidden;width:100%;height:100%;padding:0;margin:0;}
html::before{content:"";position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(0,0,0,0.9);z-index:99999;}
html::after{content:"推荐使用竖屏浏览哦~";text-align:center;font-size:16px;color:#fff;position:absolute;top:47%;left:0;width:100%;z-index:99999;}
body::before{content:"";position:absolute;z-index:99999;height:200px;width:100px;left:50%;top:50%;margin:-140px 0 0 -50px;color:#fff;}
}