html,body{
	position: relative;
	height: 100%;
}
body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif, 楷体, 新宋体; 
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: #000;
}

/* 开启GPU加速 */
.cube{
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}
#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.bg_layer{ position: fixed; width: 100%; height: 100%;}
.bg_layer_img{
	position: relative;
    width: 200%;
    height: 150%;
	left: -50%;
    top: -40%;
    z-index: 0;
	background:url(./img/bg.jpg) no-repeat center center;
	background-size:cover;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}
#top{
    position: fixed;
    width: 100%;
    height: 3.6rem;
    top: 0;
    z-index: 9999;
}
.a4_logo{
	position: relative;
    width: 6rem;
    height: 1.6rem;
    left: 1.25rem;
    top: 1rem;
    margin: 0;
    display: inline-block;
	background:url(./img/a4studio_1.png) no-repeat center center;
	background-size:contain;
}
.a4_menu{
    position: absolute;
    width: 3.8rem;
    height: 100%;
    top: 0;
    right: 0;
}
	.menu_a{ display: block;}
	.menu_b{ display: none;}
	
.a4_menu_img{
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    top: 1.2rem;
    margin: 0 auto;
    padding: 0;
}
	.img_a{
		background:url(./img/menu_a.png) no-repeat center center;
		background-size:contain;
	}
	.img_b{
		background:url(./img/menu_b.png) no-repeat center center;
		background-size:contain;
	}
	
.a4_contact{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.95);
    display: none;
    z-index: 999;
    overflow: hidden;
    -webkit-animation: t_contact 0.5s ease;
    animation: t_contact 0.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
	@-webkit-keyframes t_contact
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_contact
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
.a4_info{
    width: 100%;
	margin-top: 3.6rem;
	border-top: 1px solid rgba(255,255,255,0.4);
}
	.a4_info ul{
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	.a4_info ul li{
		width: 100%;
		line-height: 3.6rem;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		text-align: center;
		font-size: 0.9rem;
	}
	.a4_info ul li a{
		width: 100%;
		height: 100%;
		margin: 0;
		font-size: 0.9rem;
		color: rgba(255,255,255,0.5);
		text-decoration: none;
		display: block;
	}
.a4_text{
	background: url(img/a4_text.png) no-repeat center center;
	background-size: contain;
}
.a4_copyright{
	position: absolute;
	min-width: 120px;
	bottom: 0.8rem;
	right: 1.25rem;
	margin: 0;
	font-size: 0.9rem;
	text-align: right;
	color: rgba(255,255,255,0.9);
}
.to_bg{
	-webkit-animation: t_bg 10s linear;
	animation: t_bg 10s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
	@-webkit-keyframes t_bg
	{
		0%{ -webkit-transform: scale(1.3);}
		100%{ -webkit-transform: scale(1);}
	}
	@keyframes t_bg
	{
		0%{ transform: scale(1.3);}
		100%{ transform: scale(1);}
	}

.more_btn{
    width: 5.5rem;
    height: 2rem;
    left: 0;
    bottom: 2rem;
    line-height: 2.1rem;
    font-size: 1rem;
    color: #1fd557;
    border: 1px solid #1fd557;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
	.more_btn:hover{
		background: #1fd557;
		color: #fff;
	}


.swiper-container{
	width: 100%;
	height: 100%;
}
.swiper-slide{
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: #1fd557;
}

.p1{}
.p1s{ background: url(./img/001s.jpg) no-repeat center center; background-size: cover;}
.p2{ background: url(./img/002.jpg) no-repeat center center; background-size: cover;}
.p3{ background: url(./img/003.jpg) no-repeat center center; background-size: cover;}
.p4{ background: url(./img/004.jpg) no-repeat center center; background-size: cover;}

.p1 img,.p1s img, .p2 img, .p3 img, .p4 img{display: none;}

/*-- 移动特效 */
.to_fade, .to_big, .to_up, .to_down, .to_left, .to_right, 
.to_fade_l, .to_big_l, .to_up_l, .to_down_l, .to_left_l, .to_right_l, .to_filter{
	position: absolute;
	display: none;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.to_filter{
	-webkit-animation: t_filter 1s linear;
	animation: t_filter 1s linear;
}
	@-webkit-keyframes t_filter
	{
		0%{ -webkit-filter: blur(5px);}
		100%{ -webkit-filter: blur(0);}
	}
	@keyframes t_filter
	{
		0%{ filter: blur(5px);}
		100%{ filter: blur(0);}
	}
.to_fade{
	-webkit-animation: t_fad 1.5s ease;
	animation: t_fad 1.5s ease;
}
	@-webkit-keyframes t_fad
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_fad
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}

.to_big
{
	-webkit-animation: t_big 1.5s ease;
	animation: t_big 1.5s ease;
}
	@-webkit-keyframes t_big
	{
		0%{ -webkit-transform: scale(0.5);opacity: 0;}
		100%{ -webkit-transform: scale(1);opacity: 1;}
	}
	@keyframes t_big
	{
		0%{ transform: scale(0.5);opacity: 0;}
		100%{ transform: scale(1);opacity: 1;}
	}
.to_up
{
	-webkit-animation: t_up 1.5s ease;
	animation: t_up 1.5s ease;
}
	@-webkit-keyframes t_up
	{
		0%{ -webkit-transform: translateY(50%); opacity: 0;}
		100%{ -webkit-transform: translateY(0%); opacity: 1;}
	}
	@keyframes t_up
	{
		0%{ transform: translateY(50%); opacity: 0;}
		100%{ transform: translateY(0%); opacity: 1;}
	}
.to_down
{
	-webkit-animation: t_dow 1.5s ease;
	animation: t_dow 1.5s ease;
}
	@-webkit-keyframes t_dow
	{
		0%{ -webkit-transform: translateY(-50%); opacity: 0;}
		100%{ -webkit-transform: translateY(0%); opacity: 1;}
	}
	@keyframes t_dow
	{
		0%{ transform: translateY(-50%); opacity: 0;}
		100%{ transform: translateY(0%); opacity: 1;}
	}
.to_left
{
	-webkit-animation: t_left 1.5s ease;
	animation: t_left 1.5s ease;
}
	@-webkit-keyframes t_left
	{
		0%{ -webkit-transform: translateX(50%); opacity: 0;}
		100%{ -webkit-transform: translateX(0%); opacity: 1;}
	}
	@keyframes t_left
	{
		0%{ transform: translateX(50%); opacity: 0;}
		100%{ transform: translateX(0%); opacity: 1;}
	}
.to_right
{
	-webkit-animation: t_right 1.5s ease;
	animation: t_right 1.5s ease;
}
	@-webkit-keyframes t_right
	{
		0%{ -webkit-transform: translateX(-50%); opacity: 0;}
		100%{ -webkit-transform: translateX(0%); opacity: 1;}
	}
	@keyframes t_right
	{
		0%{ transform: translateX(-50%); opacity: 0;}
		100%{ transform: translateX(0%); opacity: 1;}
	}
	
.to_fade_l
{
	-webkit-animation: t_fad_l 3s ease;
	animation: t_fad_l 3s ease;
}
	@-webkit-keyframes t_fad_l
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}
	@keyframes t_fad_l
	{
		0%{ opacity: 0;}
		100%{ opacity: 1;}
	}

.to_big_l{
	-webkit-animation: t_big_l 3s ease;
	animation: t_big_l 3s ease;
}
	@-webkit-keyframes t_big_l{
		0%{ -webkit-transform: scale(0.5);opacity: 0;}
		100%{ -webkit-transform: scale(1);opacity: 1;}
	}
	@keyframes t_big_l{
		0%{ transform: scale(0.5);opacity: 0;}
		100%{ transform: scale(1);opacity: 1;}
	}
.to_up_l{
	-webkit-animation: t_up_l 3s ease;
	animation: t_up_l 3s ease;
}
	@-webkit-keyframes t_up_l{
		0%{ -webkit-transform: translateY(50%); opacity: 0;}
		50%{ -webkit-transform: translateY(50%); opacity: 0;}
		100%{ -webkit-transform: translateY(0%); opacity: 1;}
	}
	@keyframes t_up_l{
		0%{ transform: translateY(50%); opacity: 0;}
		50%{ transform: translateY(50%); opacity: 0;}
		100%{ transform: translateY(0%); opacity: 1;}
	}
.to_down_l{
	-webkit-animation: t_dow_l 3s ease;
	animation: t_dow_l 3s ease;
}
	@-webkit-keyframes t_dow_l{
		0%{ -webkit-transform: translateY(-50%); opacity: 0;}
		50%{ -webkit-transform: translateY(-50%); opacity: 0;}
		100%{ -webkit-transform: translateY(0%); opacity: 1;}
	}
	@keyframes t_dow_l{
		0%{ transform: translateY(-50%); opacity: 0;}
		50%{ transform: translateY(-50%); opacity: 0;}
		100%{ transform: translateY(0%); opacity: 1;}
	}
.to_left_l{
	-webkit-animation: t_left_l 3s ease;
	animation: t_left_l 3s ease;
}
	@-webkit-keyframes t_left_l{
		0%{ -webkit-transform: translateX(50%); opacity: 0;}
		50%{ -webkit-transform: translateX(50%); opacity: 0;}
		100%{ -webkit-transform: translateX(0%); opacity: 1;}
	}
	@keyframes t_left_l{
		0%{ transform: translateX(50%); opacity: 0;}
		50%{ transform: translateX(50%); opacity: 0;}
		100%{ transform: translateX(0%); opacity: 1;}
	}
.to_right_l{
	-webkit-animation: t_right_l 3s ease;
	animation: t_right_l 3s ease;
}
	@-webkit-keyframes t_right_l{
		0%{ -webkit-transform: translateX(-50%); opacity: 0;}
		50%{ -webkit-transform: translateX(-50%); opacity: 0;}
		100%{ -webkit-transform: translateX(0%); opacity: 1;}
	}
	@keyframes t_right_l{
		0%{ transform: translateX(-50%); opacity: 0;}
		50%{ transform: translateX(-50%); opacity: 0;}
		100%{ transform: translateX(0%); opacity: 1;}
	}
	
.copyright{
	position: absolute;
	width: 100%;
	min-height: 4rem;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	border-top: 1px solid #1fd557;
}
.a4_about{
	position: relative;
	width: 100%;
	max-width: 500px;
	min-height: 4rem;
	margin: 0 auto;
	padding: 1rem 0 2rem 0;
}
	.a4_about img{
		position: relative;
		width: 36%;
		margin: 0 auto;
	}
	.a4_about p{
		position: relative;
		width: 100%;
		padding: 0.4rem 0 1.2rem 0;
		font-size: 0.8rem;
		color: #fff;
	}
	.a4_about a{
		position: relative;
		margin: 0 auto;
		padding: 0.4rem 1.2rem;
		font-size: 1rem;
		font-weight: 700;
		color: #fff;
		text-decoration: none;
		background: #1fd557;
		z-index: 999999;
	}
	.a4_about a:hover{
		-webkit-animation: abou 2s ease 1;
		animation: abou 2s ease 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
		@keyframes abou{
			0%{padding: 0.4rem 1.2rem;}
			100%{padding: 0.4rem 6rem; background: #1db14b;}
		}

.d_box{
	position: relative;
	height: 85%;
	display: inline-block;
}

.contain{
	width: 100%;
	height: 100%;
}

/*  激活状态  */
/*  --------------------  */
	.swiper-slide-active img{
		display: block;
	}
	.swiper-slide-active p{
		display: block;
		margin: 0;
	}
	.swiper-slide-active div{
		display: block;
		display: inline-block;
	}
/*  --------------------  */


.to_cicle
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	-webkit-animation: t_cicle 4s linear infinite;
	animation: t_cicle 4s linear infinite;
}
	@-webkit-keyframes t_cicle
	{
		0%{ -webkit-transform: scale(1.1) rotate(0deg);}
		50%{ -webkit-transform: scale(1.1) rotate(180deg);}
		100%{ -webkit-transform: scale(1.1) rotate(359deg);}
	}
	@keyframes t_cicle
	{
		0%{ transform: scale(1.1) rotate(0deg);}
		50%{ transform: scale(1.1) rotate(180deg);}
		100%{ transform: scale(1.1) rotate(359deg);}
	}

	
.to_point, .to_point1, .to_point2, .to_point3, .to_point4, .to_point5, .to_point6, .to_point7{
	position: absolute;
	width: 4px;
	height: 4px;
	left: -5px;
	top: -5px;
	border-radius: 4px;
	background: #1fd557;
	-webkit-filter:blur(1px);
	-moz-filter:blur(1px);
	filter:blur(1px);
}
.to_point
{
	-webkit-animation: t_point 10s linear infinite;
	animation: t_point 10s linear infinite;
}
	@-webkit-keyframes t_point
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: -5px; top: -5px;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 100%; top: 100%;}
	}
	@keyframes t_point
	{
		0%{ opacity: 1; transform: scale(1); left: -5px; top: -5px;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 100%; top: 100%;}
	}
.to_point1
{
	-webkit-animation: t_point1 8s linear infinite;
	animation: t_point1 8s linear infinite;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
	@-webkit-keyframes t_point1
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 30%; top: -5px;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 60%; top: 100%;}
	}
	@keyframes t_point1
	{
		0%{ opacity: 1; transform: scale(1); left: 30%; top: -5px;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 60%; top: 100%;}
	}
	
.to_point1
{
	-webkit-animation: t_point1 8s linear infinite;
	animation: t_point1 8s linear infinite;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
	@-webkit-keyframes t_point1
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 30%; top: -5px;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 60%; top: 100%;}
	}
	@keyframes t_point1
	{
		0%{ opacity: 1; transform: scale(1); left: 30%; top: -5px;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 60%; top: 100%;}
	}
	
.to_point2
{
	-webkit-animation: t_point2 7s linear infinite;
	animation: t_point2 7s linear infinite;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}
	@-webkit-keyframes t_point2
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 10%; top: -5px;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 30%; top: 100%;}
	}
	@keyframes t_point2
	{
		0%{ opacity: 1; transform: scale(1); left: 10%; top: -5px;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 30%; top: 100%;}
	}
	
.to_point3
{
	-webkit-animation: t_point3 6s linear infinite;
	animation: t_point3 6s linear infinite;
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}
	@-webkit-keyframes t_point3
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 50%; top: -5px;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 60%; top: 50%;}
	}
	@keyframes t_point3
	{
		0%{ opacity: 1; transform: scale(1); left: 50%; top: -5px;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 60%; top: 50%;}
	}
	
.to_point4
{
	-webkit-animation: t_point4 5s linear infinite;
	animation: t_point4 5s linear infinite;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
	@-webkit-keyframes t_point4
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: -5px; top: 20%;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 30%; top: 100%;}
	}
	@keyframes t_point4
	{
		0%{ opacity: 1; transform: scale(1); left: -5px; top: 20%;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 30%; top: 100%;}
	}
	
.to_point5
{
	-webkit-animation: t_point5 7s linear infinite;
	animation: t_point5 7s linear infinite;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}
	@-webkit-keyframes t_point5
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 80%; top: -5px;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 95%; top: 100%;}
	}
	@keyframes t_point5
	{
		0%{ opacity: 1; transform: scale(1); left: 80%; top: -5px;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 95%; top: 100%;}
	}
	
.to_point6
{
	-webkit-animation: t_point6 4s linear infinite;
	animation: t_point6 4s linear infinite;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
	@-webkit-keyframes t_point6
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 50%; top: 50%;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 60%; top: 65%;}
	}
	@keyframes t_point6
	{
		0%{ opacity: 1; transform: scale(1); left: 50%; top: 50%;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 60%; top: 65%;}
	}
	
.to_point7
{
	-webkit-animation: t_point7 5s linear infinite;
	animation: t_point7 5s linear infinite;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
	@-webkit-keyframes t_point7
	{
		0%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 85%; top: -5px;}
		25%{ -webkit-opacity: 0.2;}
		50%{ -webkit-opacity: 0.8; -webkit-transform: scale(2);}
		75%{ -webkit-opacity: 0.3;}
		100%{ -webkit-opacity: 1; -webkit-transform: scale(1); left: 100%; top: 90%;}
	}
	@keyframes t_point7
	{
		0%{ opacity: 1; transform: scale(1); left: 85%; top: -5px;}
		25%{ opacity: 0.2;}
		50%{ opacity: 0.8; transform: scale(2);}
		75%{ opacity: 0.3;}
		100%{ opacity: 1; transform: scale(1); left: 100%; top: 90%;}
	}

.to_text, .to_text1, .to_text2, .to_text3, .to_text4, .to_text5, .to_text6, .to_text7{
	position: absolute;
	min-width: 120px;
	height: 26px;
	left: 100%;
	border-radius: 13px;
	color: #fff;
	font-size: 14px;
	line-height: 26px;
	background: rgba(0,0,0,0.5);

}
.to_text p{
	padding: 0 15px;
}
.to_text
{
	top: 10%;
	-webkit-animation: t_text 7s linear infinite;
	animation: t_text 7s linear infinite;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
	@-webkit-keyframes t_text
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
	@keyframes t_text
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}

.to_text1
{
	top: 20%;
	-webkit-animation: t_text1 6s linear infinite;
	animation: t_text1 6s linear infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
	@-webkit-keyframes t_text1
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
	@keyframes t_text1
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
.to_text2
{
	top: 30%;
	-webkit-animation: t_text2 5s linear infinite;
	animation: t_text2 5s linear infinite;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
	@-webkit-keyframes t_text2
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
	@keyframes t_text2
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
.to_text3
{
	top: 40%;
	-webkit-animation: t_text3 5.7s linear infinite;
	animation: t_text3 5.7s linear infinite;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
	@-webkit-keyframes t_text3
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
	@keyframes t_text3
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
.to_text4
{
	top: 50%;
	-webkit-animation: t_text4 6.5s linear infinite;
	animation: t_text4 6.5s linear infinite;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
	@-webkit-keyframes t_text4
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
	@keyframes t_text4
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
.to_text5
{
	top: 60%;
	-webkit-animation: t_text5 7.3s linear infinite;
	animation: t_text5 7.3s linear infinite;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
	@-webkit-keyframes t_text5
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
	@keyframes t_text5
	{
		0%{ left: 100%;}
		100%{ left: -120px;}
	}
/*  棱形动效  */
.to_m, .to_m1, .to_m2, .to_m3, .to_m4, .to_m5{ position: absolute;}
.to_m{
	left: 5%;
	-webkit-animation: t_m 30s linear infinite;
	animation: t_m 30s linear infinite;
}
	@-webkit-keyframes t_m
	{
		0%{ top: 95%; -webkit-opacity: 0;}
		10%{ -webkit-opacity: 1;}
		100%{ top: 5%; -webkit-opacity: 1;}
	}
	@keyframes t_m
	{
		0%{ top: 95%; opacity: 0;}
		10%{ opacity: 1;}
		100%{ top: 5%; opacity: 1;}
	}

.to_m1{
	left: 30%;
	top: -5%;
	-webkit-animation: t_m1 30s linear infinite;
	animation: t_m1 30s linear infinite;
}
	@-webkit-keyframes t_m1
	{
		0%{ top: 80%; -webkit-opacity: 0;}
		10%{ -webkit-opacity: 1;}
		100%{ top: 20%; -webkit-opacity: 1;}
	}
	@keyframes t_m1
	{
		0%{ top: 80%; opacity: 0;}
		10%{ opacity: 1;}
		100%{ top: 20%; opacity: 1;}
	}
.to_m2{
	left: 50%;
	top: -5%;
	-webkit-animation: t_m2 35s linear infinite;
	animation: t_m2 35s linear infinite;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}
	@-webkit-keyframes t_m2
	{
		0%{ top: 90%; -webkit-opacity: 0;}
		10%{ -webkit-opacity: 1;}
		100%{ top: 25%; -webkit-opacity: 1;}
	}
	@keyframes t_m2
	{
		0%{ top: 90%; opacity: 0;}
		10%{ opacity: 1;}
		100%{ top: 25%; opacity: 1;}
	}
.to_m3{
	left: 75%;
	top: -5%;
	-webkit-animation: t_m3 20s linear infinite;
	animation: t_m3 20s linear infinite;
}
	@-webkit-keyframes t_m3
	{
		0%{ top: 70%; -webkit-opacity: 0;}
		10%{ -webkit-opacity: 1;}
		100%{ top: 30%; -webkit-opacity: 1;}
	}
	@keyframes t_m3
	{
		0%{ top: 70%; opacity: 0;}
		10%{ opacity: 1;}
		100%{ top: 30%; opacity: 1;}
	}
.to_m4{
	left: 86%;
	top: -5%;
	-webkit-animation: t_m4 25s linear infinite;
	animation: t_m4 25s linear infinite;
}
	@-webkit-keyframes t_m4
	{
		0%{ top: 100%; -webkit-opacity: 0;}
		10%{ -webkit-opacity: 1;}
		100%{ top: 35%; -webkit-opacity: 1;}
	}
	@keyframes t_m4
	{
		0%{ top: 100%; opacity: 0;}
		10%{ opacity: 1;}
		100%{ top: 35%; opacity: 1;}
	}
.to_m5{
	left: 28%;
	top: -5%;
	-webkit-animation: t_m5 35s linear infinite;
	animation: t_m5 35s linear infinite;
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
}
	@-webkit-keyframes t_m5
	{
		0%{ top: 100%; -webkit-opacity: 0;}
		10%{ -webkit-opacity: 1;}
		100%{ top: 40%; -webkit-opacity: 1;}
	}
	@keyframes t_m5
	{
		0%{ top: 100%; opacity: 0;}
		10%{ opacity: 1;}
		100%{ top: 40%; opacity: 1;}
	}
	
.to_rombo
{
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgba(31,213,87,0.85);
	-webkit-animation: t_rombo 8s linear infinite;
	animation: t_rombo 8s linear infinite;
}
	@-webkit-keyframes t_rombo
	{
		0%{ -webkit-transform: rotateY(40deg) rotateX(-45deg);}
		40%{ -webkit-opacity: 0.8;}
		50%{ -webkit-transform: rotateY(88deg) rotateX(-45deg); opacity: 0;}
		100%{ -webkit-transform: rotateY(40deg) rotateX(-45deg);}
	}
	@keyframes t_rombo
	{
		0%{ transform: rotateY(40deg) rotateX(-45deg);}
		40%{ opacity: 0.8;}
		50%{ transform: rotateY(88deg) rotateX(-45deg); opacity: 0;}
		100%{ transform: rotateY(40deg) rotateX(-45deg);}
	}
.to_rombo1
{
	position: absolute;
	width: 12px;
	height: 12px;
	background: rgba(31,213,87,0.85);
	-webkit-animation: t_rombo1 10s linear infinite;
	animation: t_rombo1 10s linear infinite;
}
	@-webkit-keyframes t_rombo1
	{
		0%{ -webkit-transform: rotateY(40deg) rotateX(-60deg);}
		40%{ -webkit-opacity: 0.8;}
		50%{ -webkit-transform: rotateY(88deg) rotateX(-60deg); opacity: 0;}
		100%{ -webkit-transform: rotateY(40deg) rotateX(-60deg);}
	}
	@keyframes t_rombo1
	{
		0%{ transform: rotateY(40deg) rotateX(-60deg);}
		40%{ opacity: 0.8;}
		50%{ transform: rotateY(88deg) rotateX(-60deg); opacity: 0;}
		100%{ transform: rotateY(40deg) rotateX(-60deg);}
	}
.to_rombo2
{
	position: absolute;
	width: 13px;
	height: 13px;
	background: rgba(31,213,87,0.85);
	-webkit-animation: to_rombo2 7s linear infinite;
	animation: to_rombo2 7s linear infinite;
}
	@-webkit-keyframes to_rombo2
	{
		0%{ -webkit-transform: rotateY(40deg) rotateX(-60deg);}
		40%{ -webkit-opacity: 0.8;}
		50%{ -webkit-transform: rotateY(88deg) rotateX(-60deg); opacity: 0;}
		100%{ -webkit-transform: rotateY(40deg) rotateX(-60deg);}
	}
	@keyframes to_rombo2
	{
		0%{ transform: rotateY(40deg) rotateX(-60deg);}
		40%{ opacity: 0.8;}
		50%{ transform: rotateY(88deg) rotateX(-60deg); opacity: 0;}
		100%{ transform: rotateY(40deg) rotateX(-60deg);}
	}


/*  提示用户竖屏浏览页面  */
@media all and (orientation : landscape ) and (max-height:751px){ 
html,body{position:relative;overflow:hidden;width:100%;height:100%;padding:0;margin:0;}
html::before{content:"";position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(0,0,0,0.9);z-index:99999;}
html::after{content:"推荐使用竖屏浏览哦~";text-align:center;font-size:16px;color:#fff;position:absolute;top:50%;left:0;height:30px;width:100%;z-index:99999;}
body::before{content:"";position:absolute;z-index:99999;height:200px;width:100px;left:50%;top:50%;margin:-140px 0 0 -50px;color:#fff;}
}